@import "../../assets/style/mixin";
@import "../../assets/style/theme";

.nav {
    height: 60px;
    line-height: 60px;
    > div {
        display: flex;
        align-items: center;
        a {
            padding: 0 15px;
            height: 100%;
            @extend %block-center;
            font-size: 12px;
            color: #999;
            &.active {
                color: #5683EA;
            }
            &:hover {
                color: #5683EA;
            }
        }
        input {
            @include wh(80px, 30px);
            border: 1px solid #ccc;
        }
        input + input {
            margin-left: 10px;
        }
    }
    .price-interval {
        padding: 0 15px;
        @extend %block-center;
        input[type=number] {
            border: 1px solid #ccc;
            text-align: center;
            background: none;
            border-radius: 5px;
        }
    }
}
.goods-box {
    > div {
        float: left;
        border: 1px solid #efefef;
    }
}